certifi==2020.6.20
chardet==3.0.4
cnn-finetune==0.6.0
efficientnet_pytorch==0.7.0
graphviz==0.14.2
idna==2.10
numpy==1.24.4
oauthlib==3.2.0
opencv-python==4.4.0.44
Pillow==7.2.0
requests==2.27.0
requests-oauthlib==1.3.0
schedule==0.6.0
six==1.15.0
tweepy==4.14.0
urllib3==1.25.10
